body{
    background-image: url(../img/pokedex.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
}

#tablaTodos{
    max-height: 55% !important;
    width: 26%;
    scroll-behavior: auto;
    overflow: hidden;
    position: absolute;
    top: 26%;
    left: 20%;
}

.pokemonData{
    position: absolute;
    top: 30%;
    right: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
}