@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

@import "./main.css";
@import "./authorDashboard.css";
@import "./utils.css";
@import "./form.css";

body {
  font-family: "Mukta", sans-serif;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../img/bg_img.png");
  background-repeat: no-repeat;
}
